/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
a{
    color: black;
    text-decoration: none;
}
h2{
    text-align: center;
    margin-top: 10px;
}
h3{
    margin-top: 10px;    
    margin-bottom: 10px;
}
h4{
    text-align: center;
    margin: 10px;
}
p{
    line-height: 1.5;
}

img{
    max-width: 100%;
}
/*utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 768px){
    .main-flex-container{
        flex-direction: column;
    }
    .container{
        width: 90%;
    }
}

.main-flex-container{
    display: flex;
    flex-direction: row;
}
.main-flex-container2{
    display: flex;
    flex-direction: row;
}
.main-flex-container3{
    display: flex;
    flex-direction: row;
    background-color:cadetblue;
    
}
.main-flex-container4{
    display: flex;
    flex-direction: column;
    background-color:cadetblue;
    padding: 15px;
}
.main-flex-container5{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 25px;
    margin: 10px;
}
.section-flex-container{
    display: flex;
    flex-direction: row;
}
.btn-details{
    display: block;
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.btn-details2{
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 50%;
}
/*header*/
.about-us{
    background-color: aqua;
    background-size: 80%;
    color: black;
    text-align: center;
    height: 300px;   
}
.about-us-btns a{
    display: block;
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.site-init{
    background-image: url(img/header.jpg);
    background-size: 80%;
    color: white;
    text-align: center;
    height: 250px;   
}
.about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.menu a{
    color: white;
    margin-right: 20px;
}
@media(max-width:768px){
    .bar{
        flex-direction: column;
        height: 180px;
    }
    .menu a{
        display: block;
        font-size: 18px;
        margin-bottom: 20px;
    }
}
/*houses and penthouses*/
.houses-item{
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
.houses-item2{
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;   
}
.houses-item-text p.description{
    font-size: 14px;
}
.houses-item-text p.price{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.details-container{
    list-style: none;
}
.flex-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
.form-container{
    background-color: gray;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
fieldset{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid orange;
}
.fieldset1{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 3px solid cadetblue;
}
.field-container{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}
legend{
    font-size: 12px;
}
.input-container{
    margin: 20px;
}
.input-container label{
    display: inline-block;
    width: 100px;
}
.input-container input,
.input-container textarea{
    width: 70%;
    padding: 3px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: gray;
    margin-top: 20px;
}
.footer-flex-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.fa-brands{
    border: 1px solid black;
    padding:10px;
    border-radius: 50%;
}
/*About us*/


